@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: slateblue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-mov{
    height: 10vw;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    color: white;
}
form{
    position: absolute;
    bottom: 10px;
    left: 46%;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.1);
}
input:focus{
    border: none;
    outline: none;
    
}
input{
    width: 50px;
    height: 25px;
    margin-left: 3px;
    padding-left: 5px;
}