@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    font-family: 'Roboto',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: indigo;
}
.container{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    font-weight: bolder;
}
.reseau{
    width: 20%;
    color: white;
    text-align: center;
}
.reseau .num_reseau{
    font-size: 4.5em;
    margin-bottom: 12px;
}
.reseau img{
    width: 70px;
    height: 70px;
}