@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
body{
    width: 99vw;
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.3) 70%, rgba(231, 231, 132, 0.637));
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    font-family: 'roboto', sans-serif;
    font-size: 2.5em;
    letter-spacing: .2em;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width:70vw;
}
.poke{
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.1), -5px 5px 15px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.pokeimage{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: aliceblue;
}
.pokenumber{
    font-family: 'roboto', sans-serif;
    padding: 5px 8px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.pokename{
    font-family: 'roboto', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.poketype{
    font-family: 'roboto', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
}